doctype html
html(lang='en')
  head
    title Smart-Cart
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      body{
      background-color: #b3e0ff;
      }
      .navbar {
      margin-bottom: 50px;
      border-radius: 25px;
      }
      .jumbotron {
      margin-bottom: 0;
      background-color: #002e4d ;
      color:white;
      }
      footer {
      background-color: #f2f2f2;
      padding: 25px;
      }
      p {
      margin-top : 30px
      margin-bottom : 50px;
      }
      button {
      margin-bottom : 40px;
      }
  body
    .jumbotron
      .container.text-center
        h1 Smart-cart
        p Start smart shopping here!
      .container
      if messages.error
        .alert.alert-danger
         div= messages.error
      if messages.info
        .alert.alert-info
         div= messages.info
      if messages.success
        .alert.alert-success
         div= messages.success      
    h2 Who are you?
    .container(style='margin-top: 50px; padding : 20px 20px 30px 20px;')
      .row
        .col-lg-6.col-md-6
          center
            a(href='/users', role='button')
              button.btn.btn-primary.btn-lg(type='button') User
        .col-lg-6.col-md-6
          center
            a(href='/product/viewAllProducts', role='button')
              button.btn.btn-primary.btn-lg(type='button') Admin
    footer.container-fluid.text-center
      p  © Smart-cart 2017 
